body {
  background-image: url("https://s22.postimg.cc/q7in78pht/blue-2906525_1920.jpg");
  width: 50%;
  padding-top: 9%;
  margin: auto;
  color: #415545;
  font-family: Palatino, 'Palatino Linotype', serif;
}
